<div id="table-target" class="table">
  <div class="row">
    <div class="head cell text">Name</div>
    <div class="head cell text">Type</div>
    <div class="head cell number">File Size</div>
    <div class="head cell number">Date Modified</div>
  </div>
  <% if (!isRoot) { %>
    <a href="../" class="hoverable row">
      <div class="cell text">..&#47;</div>
      <div class="cell text">Parent Folder</div>
      <div class="cell text"></div>
      <div class="cell text"></div>
    </a>
  <% } %>
  <% if (directories.length || files.length) { %>
      <% for (const directory of directories) { %>
        <a href="<%= directory.name %>" class="hoverable row before-target">
          <div class="cell text">
            <%= directory.name %>&#47;
          </div>
          <div class="cell text">
            <%= directory.type %>
          </div>
          <div class="cell number"></div>
          <div class="cell number">
            <%= directory.mtime %>
          </div>
        </a>
      <% } %>
      <% for (const file of files) { %>
        <a href="<%= file.name %>" download="<%= file.name %>" class="hoverable row before-target">
          <div class="cell text">
            <%= file.name %>
          </div>
          <div class="cell text">
            <%= file.type %> File
          </div>
          <div class="cell number">
            <%= file.size %> B
          </div>
          <div class="cell number">
            <%= file.mtime %>
          </div>
        </a>
      <% } %>
  <% } else { %>
    <p id="no-files" class="before-target">No files in the directory yet.</p>
  <% } %>
</div>
