<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error <%= errCode %>&#58; <%= errMessage %></title>
    <%- include('partials/meta') %>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar') %>
    <!-- Error Message -->
    <div class="error container">
      <div>
        <h1><%= errCode %></h1>
        <p><%= errMessage %></p>
      </div>
    </div>
  </body>
</html>
