<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pathQuery; %></title>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/files.css">
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- Add New Directories and Files -->
    <form
      action="./"
      method="post"
      enctype="multipart/form-data"
      class="buttons"
    >
      <label class="hoverable">
        New Folder
      </label>
      <label for="files" class="hoverable">
        Upload File
      </label>
      <input type="file" name="files" id="files" />
    </form>
    <!-- List of Directories and Files -->
    <% if (directories.length || files.length) { %>
      <div class="table">
        <div class="row">
          <div class="head cell text">Name</div>
          <div class="head cell text">Type</div>
          <div class="head cell number">File Size</div>
          <div class="head cell number">Date Modified</div>
        </div>
        <% if (!isRoot) { %>
          <a href="../" class="hoverable row ">
            <div class="cell text">...</div>
            <div class="cell text">Parent Folder</div>
            <div class="cell text"></div>
            <div class="cell text"></div>
          </a>
        <% } %>
        <% for (const directory of directories) { %>
          <a href="<%= directory.name %>" class="hoverable row ">
            <div class="cell text">
              <%= directory.name %>
            </div>
            <div class="cell text">
              <%= directory.type %>
            </div>
            <div class="cell number"></div>
            <div class="cell number">
              <%= directory.mtime %>
            </div>
          </a>
        <% } %>
        <% for (const file of files) { %>
          <a href="<%= file.name %>" download="<%= file.name %>" class="hoverable row ">
            <div class="cell text">
              <%= file.name %>
            </div>
            <div class="cell text">
              <%= file.type %> File
            </div>
            <div class="cell number">
              <%= file.size %> B
            </div>
            <div class="cell number">
              <%= file.mtime %>
            </div>
          </a>
        <% } %>
      </div>
    <% } else { %>
      <p>No files in the directory yet.</p>
    <% } %>
  </body>
</html>
