<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pathQuery; %></title>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/files.css">
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- Add New Directories and Files -->
    <%- include('partials/fs/control') %>
    <!-- List of Directories and Files -->
    <%- include('partials/fs/table') %>
  </body>
</html>
