<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pathQuery; %></title>
    <%- include('partials/meta'); %>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- List of Directories and Files -->
    <% if (directories.length || files.length) { %>
      <ul>
        <% for (const directory of directories) { %>
          <li>
            <a href="<%= directory.name %>">
              <%= directory.name %>
            </a>
          </li>
        <% } %>
        <% for (const file of files) { %>
          <li>
            <a href="<%= file.name %>" download="<%= file.name %>">
              <%= file.name %>
            </a>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No files in the directory yet.</p>
    <% } %>
  </body>
</html>
